<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application

        tools:replace="android:appComponentFactory"
        android:appComponentFactory="whateverString"

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="CoffeeCoC"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>


        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".MapActivity"
            android:theme="@style/Theme.MyApplication"
            />

        <activity android:name=".CoffeeActivity"  android:exported="true"/>
        <activity android:name=".DecafActivity"  android:exported="true"/>
        <activity android:name=".NoncoffeeActivity"  android:exported="true"/>
        <activity android:name=".FrappeActivity"  android:exported="true"/>
        <activity android:name=".TeaActivity"  android:exported="true"/>
        <activity android:name=".AdeActivity"  android:exported="true"/>
        <activity android:name=".SearchActivity"  android:exported="true"/>
        <activity android:name=".WebComposeActivity"  android:exported="true"/>
        <activity android:name=".WebEdiyaActivity"  android:exported="true"/>
        <activity android:name=".WebGateActivity"  android:exported="true"/>
        <activity android:name=".WebHollysActivity"  android:exported="true"/>
        <activity android:name=".WebMamothActivity"  android:exported="true"/>
        <activity android:name=".WebMegaActivity"  android:exported="true"/>
        <activity android:name=".WebPascuActivity"  android:exported="true"/>
        <activity android:name=".WebStabucksActivity"  android:exported="true"/>
        <activity android:name=".WebTwosomeActivity"  android:exported="true"/>

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="navejkvdnc" />
        <meta-data
            android:name="com.naver.maps.map.CLIENT_TYPE"
            android:value="gov" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>


</manifest>

